{% extends "layout.html" %}
{% block username %}   
    {{ user }}
{% endblock %}

{% block body %}
<div class="mr-auto">
    <a href="/home"><i class="fas fa-arrow-circle-left mb-4" style="font-size: 40px"></i></a>
</div>
<div class="row mt-4 pt-4">
    <div class="col-md-6 m-auto mt-2">
        <form action="" method="post">
            <div class="input-group mb-3 bg-ligth">
                <input type="text" class="form-control" placeholder="Realizar búsqueda...">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="button" id="button-addon2">Buscar <i class="fas fa-search fa-lg"></i></button>
                </div>
              </div>
        </form>
    </div>
</div>
  <div class="row mt-4 pt-4">
    <div class="col-md-8 m-auto mt-2">
        <table class="table table-striped table-hover table-bordered table-sm bg-white">
          <thead>
            <tr>
              <td>ID</td>
              <td>Nombre</td>
              <td>Apellido</td>
              <td>Sueldo</td>
              <td>Cargo</td>
              <td>Departamento</td>
              <td>Sector</td>
              <td>Supervisor</td>
              <td>Operaciones</td>
            </tr>
          </thead>
          <tbody>
            {% for contact in empleados %}
            <tr>
              <td>{{contact.0}}</td>
              <td>{{contact.1}}</td>
              <td>{{contact.2}}</td>
              <td>{{contact.3}}</td>
              <td>{{contact.4}}</td>
              <td>{{contact.5}}</td>
              <td>{{contact.6}}</td>
              <td>{{contact.7}}</td>      
              <td>
                <a href="#" class="btn btn-default btn-sm operaciones"><i class="fas fa-edit fa-lg text-primary"></i></a>
                <a href="#" class="btn btn-default btn-delete btn-sm operaciones"><i class="far fa-trash-alt fa-lg text-danger"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>


{% endblock %}

