{% extends "layout.html" %}
{% block title %} SysCompany | Generar reportes {% endblock %}
{% block username %}   
    {{ user }}
{% endblock %}

{% block body %}
<div class="mr-auto">
    <a href="/home"><i class="fas fa-arrow-circle-left mb-4" style="font-size: 40px"></i></a>
</div>
<div class="row mt-2 pt-2">
    <div class="col-md-6 m-auto mt-2">
        <select class="form-contral" name="" id="">
            <option class="form-contral" value="">Seleccionar departamento</option>
            <option class="form-contral" value="">DEPA 1</option>
        </select>
    </div>
    <button class="btn btn-block btn-primary">Generar reporte</button>
</div>
  <div class="row mt-4 pt-4">
    <div class="col-md-8 m-auto mt-2">
        <!--  -->
    </div>
  </div>


{% endblock %}

