{% extends "layout.html" %}
{% block title %} SysCompany | Principal {% endblock %}
{% block username %}   
    {{ user }}
{% endblock %}

{% block body %}

  <div class="row mt-4 pt-4 mb-4 pb-4">
    <div class="col-md-4 offset-md-4">
      <img class="logo mb-4" src="{{url_for('static', filename='img/logo.jpeg')}}" alt="SysCompany" width="100%">
    <a class="navbar-links" href="/principal" >
        <button type="button" class="btn btn-primary btn-md btn-block">Registro Empleado</button>
    </a> <br>
    <a class="navbar-links" href="/visualizar-departamentos">
        <button type="button" class="btn btn-primary btn-md btn-block">Visualizar Sectores</button>
    </a><br>
    <a class="navbar-links" href="/generarReporte/">
        <button type="button" class="btn btn-primary btn-md btn-block">Generar Reportes</button>
    </a>
  </div>

  </div>


{% endblock %}